<mat-toolbar color="primary" class='mat-elevation-z1'>
  <mat-toolbar-row fxLayout="row">

    <div fxLayout="column" fxFlex="12" fxHide.lt-lg="true">
      <span>TCW - Angular</span>
    </div>

    <div fxLayout="column" fxFlex="10">
      <a mat-icon-button routerLink="/posts/list">
        <mat-icon>description</mat-icon> Meus Posts
      </a>
    </div>
    <div fxLayout="column" fxFlex="10">
        <a mat-icon-button routerLink="/posts/add">
          <mat-icon>add</mat-icon> Novo Post
        </a>
      </div>
  </mat-toolbar-row>
</mat-toolbar>